<!-- <h1>Greeting</h1>
<div [hidden]="!isLoggedin">
	<p>Welcome back, {{ loggedinUser }}!</p>
	<p>Role: {{ user?.userRole }}</p>

	<table  class="table table-striped" *ngIf="user?.userRole=='ADMIN'">
		<thead class="table-light">
			<tr>
				<th scope=""col>ID</th>
				<th scope=""col>First name</th>
				<th scope=""col>Last name</th>
				<th scope=""col>Email</th>
				<th scope=""col>Role</th>
			
			</tr>
			
		</thead>
		<tbody>
			<tr *ngFor="let u of users; let i=index">
				
				<td>{{u.id}}</td>
				<td>{{u.firstName}}</td>
				<td>{{u.lastName}}</td>
				<td>{{u.email}}</td>
				<td>{{u.userRole}}</td>
				
			</tr>
		</tbody>
	</table>
	
	
	<p><a style="text-decoration: underline; cursor: pointer;" (click)=doLogout()>Logout</a></p>
</div>
<div [hidden]="isLoggedin">
	<p>Login to see your greeting</p>
</div> -->

<header class="section-header" >
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-4" >
          <img src="assets/images/logos/logo8.png" style="width:130px;height: 20px;" >
        </div>
        <div class="col-lg-6 col-sm-12">
            <form action="#" class="search">
                <div class="input-group w-100">
                    <input type="text" class="form-control" placeholder="Search"  #keyword>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit" (click)=getAllProductsByKeyWord(keyword.value)>
                        <i class="fa fa-search" ></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-4 col-sm-6 col-12">
            <div class="widgets-wrap float-md-right">
                <div class="widget-header  mr-3">
                    <a href="/cart" class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
                    <span class="badge badge-pill badge-danger notify">{{myCart?.cartItems?.length}}</span>
                </div>
                <div class="widget-header icontext">
                    <a href="/main" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
                    <div class="text"  style="color: white;" >
                        <span class="text-muted">Welcome {{ user?.firstName }}</span>
                        <div > 
						            <a href="#" (click)=doLogout() *ngIf="isLoggedin"> Logout</a>
                        </div>
                    </div>
                </div>
    
            </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    
    
    
    <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
      <div class="container">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
               <a class="nav-link" href="/main">Home</a>
            </li>
            <li class="nav-item" *ngIf="user?.userRole=='ADMIN_USER' || user?.userRole=='ADMIN_PROD'">
              <a class="nav-link" href="/adminPanel" >Admin Panel</a>
            </li>

            <li class="nav-item" *ngFor="let categorie of categories" >
              <a class="nav-link"    (click)="getAllProductsByIdCategory(categorie.id)" >{{categorie.categoryName}}</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> Categories</a>
              <div class="dropdown-menu"  >
                <a class="dropdown-item" href="/main">All</a>
                <a class="dropdown-item" *ngFor="let categorie of categories" 
                (click)="getAllProductsByIdCategory(categorie.id)" >{{categorie.categoryName}}</a>
              </div>

            </li>
          </ul>
        </div> <!-- collapse .// -->
      </div> <!-- container .// -->
    </nav>
    
    </header> <!-- section-header.// -->
    
    
    <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-main bg padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            <nav class="card">
                <ul class="menu-category">
                    <li><a href="#">Best clothes</a></li>
                    <li><a href="#">Automobiles</a></li>
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Technologies</a></li>
                    <li><a href="#">Digital goods</a></li>
                    <li class="has-submenu"><a href="#">More items</a>
                        <ul class="submenu">
                            <li><a href="#">Submenu name</a></li>
                            <li><a href="#">Great submenu</a></li>
                            <li><a href="#">Another menu</a></li>
                            <li><a href="#">Some others</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside> <!-- col.// -->
        <div class="col-md-9">
            <article class="banner-wrap">
                <img src="assets/images/2.jpg" class="rounded" style="width:970px;height:262px;">
            </article>
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    
    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm" style="background-color: rgb(245, 245, 245);">
    <div class="container">
    
    <header class="section-heading">
        <a href="#" class="btn btn-outline-primary float-right">See all</a>
        <h3 class="section-title">Popular products</h3>
    </header><!-- sect-heading -->
    
    <div >
    <div class="row"  >
      <form class="col-md-3" *ngFor="let u of products; let i=index" 
        [formGroup]="addCartItem"  (ngSubmit)="addCartItemInfo(u.id)">    
            <div href="#" class="card card-product-grid"  >
                <a href="#" class="img-wrap"> <img  src="{{u?.imageURL}}"> </a>
                <figcaption class="info-wrap">
  
                    <div class="price mt-1 center">{{u?.name}}</div> <!-- price-wrap.// -->
                    <div class="price mt-1 center">${{u?.price}}</div> <!-- price-wrap.// -->
                    <a href="#" class="title" style="margin-top:5px ;margin-bottom: 5px;">{{u?.description}}</a>
                    <table style="margin-top: 8px;">
                      <tr>
                        <td><button class="btn btn-dark" style="margin-right:10px;width: 160px;height: 31px ;" >Add to cart</button></td>
                        <td><input  type="number"  placeholder="Quantity" formControlName="quantity" style="width: 83px ;border-radius: 5px;padding-left: 3px;" /></td>
                    
                  </tr>
                  </table>
                </figcaption>
            </div>
            <!-- <input type="number" formControlName="productId" value="{{u.id}}"  /> -->
      </form>

     </div>
    </div> <!-- row.// -->
 

    </div>
    
    <!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->
    

    
    
    
    <!-- ========================= FOOTER ========================= -->
  <footer class="section-footer border-top bg" style="margin-top:100px;">
    <div class="container">
      <section class="footer-bottom row">
        <div class="col-md-2">
          <p class="text-muted">   2022 DELTA </p>
        </div>
        <div class="col-md-8 text-md-center">
          <span  class="px-2">ensaf@usmba.ac.ma</span>
          <span  class="px-2">+06 0811-0-727</span>
          <span  class="px-2">Fes immouzer BP, 19</span>
        </div>
        <div class="col-md-2 text-md-right text-muted">
          <img src="/assets/images/misc/payments.png" style="height: 30px ;">
        </div>
      </section>
    </div><!-- //container -->
  </footer>

